{% extends 'base.html.twig' %}

{% block title %}
    Fuzzy survey
{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('app_survey') }}">
                Start new survey
            </a>
        </li>
    </ul>
{% endblock %}
